div, body, ul, li, section, pre {
	margin:0;
	padding:0;
}

body {
	background-color:rgb(170,170,170);
}

div.mainContent {
	background-color:rgb(255,255,255);
	width:70%;
	padding:3em;
	margin:0 auto;
}

.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

ul {
	list-style:none;
}

li {
	margin-right:1em;
	display:block;
	float:left;
}

h1, h2, p {
	font-family:'helvetica', 'arial';
}


div.jSlider > button.leftBtn {
	background-image:url(../../img/leftArrow.png);
}

div.jSlider > button.rightBtn {
	background-image:url(../../img/rightArrow.png);
}

div.codeSnippet {
	padding: 0 auto;
	/*text-align:center;*/
/*	background-color:rgb(200,200,200);
	padding:1em;*/
}

pre {
	display:inline-block;
	background-color:rgb(200,200,200);
	padding:1em;
	margin:0 auto;
}

span.highlight {
	color:rgb(255,0,0);
}