div, body, nav ul, nav li, section, pre {
	margin:0;
	padding:0;
}

body {
	background-color:rgb(170,170,170);
}

div.mainContent {
	box-shadow:-3px 3px 20px rgba(0,0,0,0.7);
	background-color:rgb(255,255,255);
	width:70%;
	padding:1em 3em 2em;
	margin:0 auto;
	transition:width 0.5s;
}

.cf:before,
.cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

nav ul {
	list-style:none;
}

nav li:nth-child(1n + 2) {
	padding-left:0.5em;
}

nav li:nth-last-child(1n + 2) {
	padding-right:0.5em;
}

nav li:not(:first-child):not(:last-child) {
	border-right:1px solid #000;
}

nav li {
	font-family:'Consolas', 'monospace';
	float:left;
}

h1, h2, h3, p, li {
	font-family:'helvetica', 'arial';
}


div.jcSlider > button.leftBtn {
	background-image:url(../../img/leftArrow.png);
}

div.jcSlider > button.rightBtn {
	background-image:url(../../img/rightArrow.png);
}


pre {
	background-color:rgb(200,200,200);
	padding:1em;
	margin:0 auto;
	overflow:auto;
}

span.highlight {
	color:rgb(255,0,0);
}

a, a:visited {
	color:rgb(30,125,230);
	text-decoration:none;
}

footer a {
	font-family:'helvetica', 'arial';
}

@media (max-width: 767px) {
	div.mainContent {
		width:90%;
		padding:0.4em 5% 1em;
	}
}